<html lang="zh-cn"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言板</title>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <script src="./js/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
    <style>
    .navbar{
        background: #212121;
        padding: 0 100px;
    }
    body .navbar ul .li1:hover {
        background: black;

    }
    body .navbar ul .li1 a:hover{
        color: white;
    }
    .ul1{
        float: right;
    }
    .d1{background:#eee; }
    .container{width:80%;}
    .touxiang{
        display: block;
        width: 100px;
        height:100px;
    }
    .none{display: none}
    .ul2{
        list-style: none;
        padding-left: 0;
    }
    .hh{display: inline-block}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">web1704 班级说说</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <%if(username==undefined){%>
                <li class="li1 active"><a href="#">全部说说</a></li>
                <li class="li1"><a href="#">我的说说</a></li>
                <%}else{%>
                <li class="li1 active"><a href="/allss">全部说说</a></li>
                <li class="li1"><a href="/user">我的说说</a></li>
                <%}%>
            </ul>
            <ul class="nav navbar-nav ul1" >
                <%if(username==undefined){%>
                <li><a href="/regist">注册</a></li>
                <li><a href="/login">登录</a></li>
                <%}else{%>
                <li><a href="#">欢迎<%=username%></a></li>
                <li><a href="/back">退出</a></li>
                <%}%>
            </ul>
        </div>

    </div>
</nav>
<div class="d1">
    <div class="container">
        <%if(username==undefined){%>
        <div class="row">
            <div class="jumbotron col-md-6">
                <div class="row">
                    <div class="col-md-3">
                            <img src="./images/a.jpg "width="100" height="100" alt="">
                    </div>
                    <div class="col-md-8">
                        <h1>欢迎！</h1>
                    </div>
                    <div class="col-md-12 ">
                        <p>班级留言使我们交流的平台，欢迎注册登录，请大家畅所欲言。</p>
                        <p><a class="btn btn-primary btn-lg" href="/regist" role="button">注册&gt;&gt;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/doLogin">
                    <h3>已有账号登陆</h3>
                    <div class="form-group">
                        <label for="exampleInputEmail1">用户名</label>
                        <input type="text" class="form-control" placeholder="请输入用户名" name="uname" id="uname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="至少6位数">
                    </div>
                    <button type="submit" class="btn btn-default" id="regist">登陆</button>
                </form>
            </div>
        </div>
        <%}else{%>
        <div class="row">
            <div class="jumbotron col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/setAvatar" class="touxiang">
                            <img src="./change/<%=username%>.jpg" width="100" height="100" alt="" class="img-circle">
                        </a>
                    </div>
                    <div class="col-md-10">

                        <h3><%=username%></h3>
                        <form action="/fbly">
                            <div class="form-group">
                                <input type="text" name="uname" value="<%=username%>" class="none">
                                <textarea class="form-control" name="say" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="发表留言">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</div>
<div class="container">
    <nav class=" col-md-offset-1">
        <ul class="pagination" id="a1">
            <% for(var i=0;i<liuyan.length/6;i++){%>
            <%if(liuyan.length/6!=0){%>
            <li>
                <a  href="#"><%=i+1%></a>
            </li>
            <%}%>
            <%}%>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row">
        <%for(var i=0;i<liuyan.length;i++){%>
        <div class="col-md-4" id="d1">
            <ul class="ul2">
                <li>
                    <img src="./change/<%=liuyan[i].uname%>.jpg"width="100" height="100" alt=""><h3 class="hh">
                        <%=liuyan[i].uname%>说:</h3>
                </li>
                <li>【留言】:<%=liuyan[i].say%></li>
                <li>【时间】:<%=liuyan[i].time%></li>
                <li><a href="#" class="btn btn-default">查看详情</a></li>
            </ul>
        </div>
        <%}%>
    </div>

<!--</div>-->

<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.js"></script>
</body>
<script type="text/javascript">
    var a1=document.querySelector("#a1");
    console.log(a1)
    var li=document.querySelectorAll("#a1 li");
    var d1=document.querySelectorAll("#d1 ul")
    console.log(d1)
    var d2=[];
    for(var i=0;i<d1.length;i++){
        d1[i].style.display="none";
        d2.push(d1[i])
    }
    var d3 =d2.slice(0,6)
    for (var f=0;f<d3.length;f++){
        d3[f].style.display="block"
    }
    a1.addEventListener("click",function(e){
        var t= e.target;
        var n=parseInt(t.innerHTML);
        for(var i=0;i<li.length;i++){
            li[i].className="";
            if(parseInt(t.innerHTML)==i+1){
                li[i].className="active";
            }
        }
        for(var i=0;i<d1.length;i++){
            d1[i].style.display="none";
        }
        //d2.slice(0,3).style.display="block"
        // console.log( d2.slice(0+((n-1)*3),((n)*3)))
        var d4= d2.slice(((n-1)*6),((n)*6));
        // console.log(d4)
        for (var s=0;s<d4.length;s++){
            d4[s].style.display="block"
        }
    })
</script>
</html>