<html lang="zh-cn"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言板</title>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <script src="./js/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
    <style>
        .navbar{
            background: #212121;
            padding: 0 100px;
        }
        body .navbar ul .li1:hover {
            background: black;

        }
        body .navbar ul .li1 a:hover{
            color: white;
        }
        .ul1{
            float: right;
        }
        .d1{background:#eee; }
        .container{width:80%;}
        .touxiang{
            display: block;
            width: 100px;
            height:100px;
            background:url("./images/a.jpg");
            background-size:100px 100px;
        }
        .none{display: none}
        .ul2{
            list-style: none;
            border-bottom: 1px solid #D0D0D0;
            padding-left: 0;
            width: 50%;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">web1704 班级说说</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <%if(username==undefined){%>
                <li class="li1"><a href="#">全部说说</a></li>
                <li class="li1 active"><a href="#">我的说说</a></li>
                <%}else{%>
                <li class="li1"><a href="allss">全部说说</a></li>
                <li class="li1 active"><a href="/user/<%=username%>">我的说说</a></li>
                <%}%>
            </ul>
            <ul class="nav navbar-nav ul1" >
                <%if(username==undefined){%>
                <li><a href="/regist">注册</a></li>
                <li><a href="/login">登录</a></li>
                <%}else{%>
                <li><a href="#">欢迎<%=username%></a></li>
                <li><a href="/back">退出</a></li>
                <%}%>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <img src="" alt="">
    <div class="row">
        <img src="./images/a.jpg "width="100" height="100" alt="">
        <h3><%=liuyan[0].uname%>的留言</h3>
        <%for(var i=0;i<liuyan.length;i++){%>
            <ul class="ul2">
                <li>【留言】:<%=liuyan[i].say%></li>
                <li>【时间】:<%=liuyan[i].time%></li>
            </ul>
        <%}%>
    </div>

    <!--</div>-->

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.js"></script>
</body>

</html>